---
import OutlinedButton from '@/components/button/OutlinedButton.astro';
import { route } from '@/router';
---

<section class="section app-page-padding-x app-limit-design-width">
  <div class="container">
    <div class="top">
      <!-- NOTE: PC のみ表示 -->
      <div class="message-code-flame">
        <svg
          class="message-code"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 216 132"
        >
          <path
            fill="#8d8d8d"
            d="M10.325 23.811H7.461V7.171q0-1.435.033-2.302t.1-1.8q-.533.533-.966.9l-1.1.933-2.53 2.068-1.533-1.968L7.894 0h2.431zM15.82 75.35H.1v-2.434l6.228-6.303q1.799-1.8 3.031-3.201 1.233-1.4 1.865-2.735.633-1.367.633-2.968 0-1.967-1.166-2.968-1.165-1.034-3.03-1.034-1.732 0-3.065.6-1.299.6-2.664 1.668L.366 54.007q1.4-1.167 3.198-1.967 1.832-.834 4.097-.834 3.33 0 5.262 1.7 1.932 1.668 1.932 4.636 0 1.868-.766 3.502-.766 1.634-2.132 3.235-1.365 1.567-3.197 3.368L3.797 72.55v.133h12.024ZM14.921 108.649q0 2.4-1.332 3.835-1.332 1.4-3.597 1.867v.134q2.864.333 4.263 1.8 1.4 1.468 1.4 3.836 0 2.067-.967 3.701-.966 1.601-2.997 2.502-1.999.9-5.163.9-1.865 0-3.464-.3-1.599-.267-3.064-1v-2.735q1.499.733 3.23 1.167 1.733.4 3.331.4 3.198 0 4.597-1.234 1.432-1.267 1.432-3.468 0-2.234-1.765-3.202-1.732-1-4.896-1H3.63v-2.501h2.332q2.93 0 4.43-1.234 1.532-1.234 1.532-3.268 0-1.735-1.166-2.668-1.166-.967-3.164-.967-1.932 0-3.297.567-1.366.566-2.698 1.434l-1.466-2.001q1.266-1 3.131-1.735 1.899-.733 4.297-.733 3.73 0 5.529 1.667 1.831 1.668 1.831 4.236z"
          >
          </path>
          <path
            fill="#fdfdfd"
            d="M51.122 28.92q-2.972-.032-4.683-1.293-1.712-1.261-1.712-3.848v-4.754q0-1.65-1.034-2.328-1-.712-2.906-.712v-2.36q1.905-.033 2.906-.712 1.034-.679 1.034-2.296V5.831q0-2.587 1.776-3.848Q48.28.722 51.122.722V3.05q-1.68.032-2.649.744-.936.711-.936 2.296v4.656q0 3.331-3.52 3.946v.194q3.52.614 3.52 3.945v4.754q0 1.584.936 2.264.937.711 2.649.743z"
          >
          </path>
          <path
            fill="#3e9f78"
            d="M61.618 56.683q2.94 0 4.393 1.52 1.453 1.488 1.453 4.851V74.34h-2.81V63.183q0-4.107-3.52-4.107-2.52 0-3.617 1.456-1.066 1.455-1.066 4.236v9.572h-2.81V63.183q0-4.107-3.553-4.107-2.616 0-3.617 1.617T45.47 65.35v8.99h-2.842V57.007h2.293l.42 2.36h.161q.807-1.358 2.164-2.004 1.389-.68 2.939-.68 4.07 0 5.297 2.91h.161q.872-1.487 2.358-2.198 1.518-.712 3.197-.712zM82.741 56.683q2.229 0 3.811.97 1.615.97 2.455 2.75.872 1.746.872 4.106v1.714H78.026q.064 2.943 1.485 4.495 1.454 1.52 4.037 1.52 1.648 0 2.907-.29 1.292-.324 2.649-.906v2.49q-1.325.582-2.617.84-1.291.292-3.068.292-2.454 0-4.36-1.003-1.873-1.002-2.939-2.975-1.034-2.005-1.034-4.883 0-2.846.937-4.883.969-2.038 2.68-3.137 1.745-1.1 4.038-1.1zm-.032 2.329q-2.035 0-3.23 1.326-1.163 1.293-1.389 3.622h8.817q-.032-2.2-1.033-3.558-1.001-1.39-3.165-1.39zM108.773 69.554q0 2.523-1.874 3.816-1.873 1.294-5.038 1.294-1.809 0-3.133-.291-1.292-.291-2.293-.809v-2.587q1.034.518 2.487.97 1.486.42 3.004.42 2.164 0 3.132-.678.97-.712.97-1.876 0-.647-.356-1.164-.355-.518-1.292-1.035-.904-.518-2.616-1.164-1.68-.647-2.874-1.294-1.195-.647-1.841-1.552-.646-.906-.646-2.328 0-2.2 1.776-3.396 1.809-1.197 4.716-1.197 1.582 0 2.939.324 1.388.29 2.583.84l-.969 2.264q-1.098-.452-2.293-.776-1.195-.323-2.454-.323-1.744 0-2.68.582-.905.55-.905 1.52 0 .711.42 1.229.42.485 1.388.97 1.002.453 2.649 1.1 1.647.614 2.81 1.26 1.162.647 1.776 1.585.614.906.614 2.296zM127.473 69.554q0 2.523-1.873 3.816-1.874 1.294-5.039 1.294-1.808 0-3.133-.291-1.292-.291-2.293-.809v-2.587q1.034.518 2.487.97 1.486.42 3.004.42 2.164 0 3.133-.678.969-.712.969-1.876 0-.647-.356-1.164-.355-.518-1.292-1.035-.904-.518-2.616-1.164-1.68-.647-2.874-1.294-1.195-.647-1.841-1.552-.646-.906-.646-2.328 0-2.2 1.776-3.396 1.809-1.197 4.716-1.197 1.582 0 2.939.324 1.389.29 2.584.84l-.97 2.264q-1.097-.452-2.292-.776-1.195-.323-2.455-.323-1.744 0-2.68.582-.905.55-.905 1.52 0 .711.42 1.229.42.485 1.389.97 1 .453 2.648 1.1 1.647.614 2.81 1.26 1.163.647 1.776 1.585.614.906.614 2.296zM141.458 56.716q3.165 0 4.683 1.39 1.518 1.39 1.518 4.43V74.34h-2.067l-.55-2.457h-.129q-1.13 1.422-2.39 2.102-1.227.679-3.423.679-2.358 0-3.908-1.23-1.55-1.26-1.55-3.912 0-2.587 2.034-3.978 2.035-1.423 6.266-1.552l2.94-.097V62.86q0-2.167-.938-3.007-.936-.841-2.648-.841-1.356 0-2.584.42-1.227.388-2.293.906l-.872-2.135q1.13-.614 2.68-1.034 1.551-.453 3.23-.453zm.84 9.249q-3.23.129-4.49 1.034-1.227.906-1.227 2.555 0 1.455.872 2.135.904.679 2.293.679 2.196 0 3.65-1.197 1.453-1.229 1.453-3.751v-1.552zM162.386 56.683q1.712 0 3.069.647 1.388.647 2.357 1.973h.162l.387-2.296h2.261V74.63q0 3.72-1.905 5.595-1.874 1.876-5.846 1.876-3.811 0-6.234-1.1v-2.62q2.552 1.359 6.395 1.359 2.229 0 3.488-1.326 1.292-1.294 1.292-3.557v-.68q0-.387.033-1.099.032-.744.064-1.035h-.129q-1.744 2.62-5.361 2.62-3.36 0-5.265-2.361-1.873-2.36-1.873-6.597 0-4.14 1.873-6.565 1.906-2.458 5.232-2.458zm.388 2.393q-2.164 0-3.36 1.747-1.194 1.714-1.194 4.915 0 3.202 1.163 4.916 1.195 1.681 3.455 1.681 2.617 0 3.812-1.39 1.195-1.423 1.195-4.56v-.68q0-3.556-1.228-5.076-1.227-1.553-3.843-1.553zM186.028 56.683q2.229 0 3.811.97 1.615.97 2.455 2.75.872 1.746.872 4.106v1.714h-11.853q.064 2.943 1.485 4.495 1.454 1.52 4.037 1.52 1.648 0 2.907-.29 1.292-.324 2.649-.906v2.49q-1.325.582-2.616.84-1.292.292-3.069.292-2.454 0-4.36-1.003-1.873-1.002-2.939-2.975-1.033-2.005-1.033-4.883 0-2.846.936-4.883.97-2.038 2.68-3.137 1.745-1.1 4.038-1.1zm-.032 2.329q-2.035 0-3.23 1.326-1.163 1.293-1.389 3.622h8.817q-.032-2.2-1.033-3.558-1.001-1.39-3.165-1.39z"
          >
          </path>
          <path
            fill="#fdfdfd"
            d="M211.995 58.753q0-1.229.581-1.714.582-.485 1.39-.485.839 0 1.42.485.614.485.614 1.714 0 1.164-.614 1.682-.581.517-1.42.517-.808 0-1.39-.517-.58-.518-.58-1.682zm0 13.841q0-1.197.581-1.682.582-.485 1.39-.485.839 0 1.42.485.614.485.614 1.682 0 1.164-.614 1.682-.581.517-1.42.517-.808 0-1.39-.517-.58-.518-.58-1.682zM40.916 129.672q1.68-.065 2.616-.777.969-.679.969-2.263v-4.69q0-3.33 3.52-3.945v-.194q-3.52-.614-3.52-3.945v-4.721q0-1.585-.937-2.264-.936-.712-2.648-.744v-2.328q2.971.032 4.683 1.293 1.712 1.261 1.712 3.849v4.721q0 1.65 1 2.36 1.034.68 2.94.68v2.36q-1.906.033-2.94.712-1 .68-1 2.296v4.818q0 2.555-1.777 3.816Q43.758 132 40.916 132zM57.98 129.047h32.448"
          >
          </path>
        </svg>
      </div>

      <div class="heading">
        <h2 class="h2 app-en">We're hiring!</h2>
        <p class="p">
          イトナブでは、
          <wbr />
          ともに働く仲間を募集しています。
        </p>
      </div>
    </div>

    <div class="buttons">
      <OutlinedButton
        tag="a"
        class="button"
        href={route.recruitInfo.path}
        aria-label="採用情報ページを開く"
      >
        採用情報
      </OutlinedButton>

      <OutlinedButton
        tag="a"
        class="button"
        href={route.recruitMemberInterview.path}
        aria-label="メンバーのインタビューページを開く"
      >
        メンバーのインタビュー
      </OutlinedButton>
    </div>
  </div>
</section>

<style scoped lang="scss">
  .section {
    box-sizing: border-box;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    color: $white;
    background-color: $black;
  }

  .top {
    margin-bottom: 24px;
  }

  .message-code-flame {
    display: none;
  }

  .h2 {
    font-size: rpx(clamp(24px, 42rpx, 64px), mp);
    line-height: 1.2;
    white-space: nowrap;
  }

  .p {
    word-break: keep-all;
    white-space: normal;
  }

  .button {
    box-sizing: border-box;
    width: 100%;
    padding: 12px 16px;
    margin-bottom: 8px;
  }

  @include pc {
    .section {
      background-color: inherit;
    }

    .container {
      padding: 72px 64px;
      background-color: $black;
      border-top-right-radius: 48px;
      border-bottom-left-radius: 48px;
    }

    .top {
      display: grid;
      grid-template-columns: auto auto;
      margin-bottom: 42px;
    }

    // pc でのみ表示
    .message-code-flame {
      position: relative;
      height: 100%;

      @include pc {
        display: block;
      }
    }

    .message-code {
      position: absolute;
      top: 0;
      right: 0;
      width: auto;
      height: 100%;
      margin-right: 8px;
      transform: translateX(50%);
    }

    .heading {
      margin-left: 24px;
    }

    .h2 {
      font-size: rpx(clamp(40px, 82rpx, 92px), pc);
      text-align: center;
    }
    .p {
      font-size: rpx(min(16px, 16rpx), pc);
      text-align: center;
    }

    .buttons {
      display: flex;
      gap: 24px;
    }

    .button {
      padding: 32px 0;
    }
  }
</style>
